<meta
  name="description"
  content="Looking for the best burgers in town? Visit Burger Fuel for delicious burgers made with fresh ingredients." />
<meta
  name="keywords"
  content="burger fuel, burgers, fast food, restaurant, food" />
<meta name="author" content="DCRalph Enterprise" />

<meta property="og:title" content="Burger Fuel" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://burgerfuel.dcralph.com/" />
<meta
  property="og:description"
  content="Looking for the best burgers in town? Visit Burger Fuel for delicious burgers made with fresh ingredients." />
<meta property="og:site_name" content="Burger Fuel" />
